{
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["*.md", "node_modules", ".build", "docs"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "settings": {
    "import/core-modules": ["aws-sdk", "aws-lambda"]
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "airbnb/base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "curly": "error",
    "class-methods-use-this": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "import/prefer-default-export": "off",
    "import/no-internal-modules": ["error", {
      "allow": ["annotations/*"]
    }],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          ["object", "builtin", "external"],
          ["internal", "parent"],
          ["sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ]
  }
}
